# Project-ITSM-Priority

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import scale
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [0]:
data = pd.read_excel("/content/train_priority(onlny proirty data).xlsx")

In [87]:
data.head(15)

      CI_Name          CI_Cat  ...  KB_number No_of_Reassignments
0   WBA000082     application  ...  KM0000401                   5
1   SBA000662     application  ...  KM0000524                   0
2   SBA000607     application  ...  KM0000592                  11
3   SBA000263     application  ...  KM0001104                   2
4   SUB000431  subapplication  ...  KM0000603                   3
5   SBA000314     application  ...  KM0000650                  25
6   SAP000005     application  ...  KM0001124                  30
7   SAP000004     application  ...  KM0001572                  37
8   SAP000004     application  ...  KM0001264                  32
9   SBA000045     application  ...  KM0000565                   1
10  SBA000607     application  ...  KM0000592                  12
11  WBA000124     application  ...  KM0000611                   9
12  CBA000014     application  ...  KM0001723                  15
13  SBA000263     application  ...  KM0001116                   8
14  WBA000124     application  ...  KM0000611                  10

[15 rows x 12 columns]

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45117 entries, 0 to 45116
Data columns (total 12 columns):
CI_Name                45117 non-null object
CI_Cat                 45117 non-null object
CI_Subcat              45117 non-null object
Incident_ID            45117 non-null object
Status                 45117 non-null object
Impact                 45117 non-null int64
Urgency                45117 non-null int64
Priority               45117 non-null int64
number_cnt             45117 non-null float64
Category               45117 non-null object
KB_number              45117 non-null object
No_of_Reassignments    45117 non-null int64
dtypes: float64(1), int64(4), object(7)
memory usage: 4.1+ MB

In [0]:
data =  data.iloc[:,1:]

In [90]:
data.head()

           CI_Cat                 CI_Subcat  ...  KB_number No_of_Reassignments
0     application     Web Based Application  ...  KM0000401                   5
1     application  Server Based Application  ...  KM0000524                   0
2     application  Server Based Application  ...  KM0000592                  11
3     application  Server Based Application  ...  KM0001104                   2
4  subapplication     Web Based Application  ...  KM0000603                   3

[5 rows x 11 columns]

In [91]:
data.isnull().sum()

CI_Cat                 0
CI_Subcat              0
Incident_ID            0
Status                 0
Impact                 0
Urgency                0
Priority               0
number_cnt             0
Category               0
KB_number              0
No_of_Reassignments    0
dtype: int64

In [92]:
data.Category.head(5)

0                   incident
1    request for information
2    request for information
3    request for information
4    request for information
Name: Category, dtype: object

In [93]:
enc = LabelEncoder() # Convert category to numbers using label encoder
data.Category =  enc.fit_transform(data.Category)
data.Category.head(5)

0    1
1    2
2    2
3    2
4    2
Name: Category, dtype: int64

In [0]:
# enc = LabelEncoder() # Convert category to numbers using label encoder
# data.CI_Subcat =  enc.fit_transform(data.CI_Subcat)
# data.CI_Subcat.head(5)

In [0]:
# pd.DataFrame(data.groupby(['CI_Subcat']).mean())

In [97]:
X = data.loc[:,['Impact','Urgency','Category']]
X.head()

   Impact  Urgency  Category
0       5        5         1
1       5        5         2
2       5        5         2
3       5        5         2
4       5        5         2

In [98]:
y = data.Priority
y.tail()

45112    2
45113    2
45114    1
45115    1
45116    1
Name: Priority, dtype: int64

In [12]:
# X.Impact.loc[X.Impact=='NS'] = data.Urgency # assign the value of urgency to impact column if the impact column = NS
# X.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

  Impact Urgency  Category
0      4       4         1
1      3       3         1
2      3       3         3
3      4       4         1
4      4       4         1

In [99]:
X.Urgency.loc[X.Urgency=='5 - Very Low']

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Series([], Name: Urgency, dtype: int64)

In [14]:
X.Urgency.loc[X.Urgency=='5 - Very Low'] = '5' ## assign value 5 to the records which has 5-Very Low as Urgency value

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [101]:
print("X_train : ",X_train.shape)
print("X_test : ",X_test.shape)
print("y_train : ",y_train.shape)
print("y_test : ",y_test.shape)

X_train :  (31581, 3)
X_test :  (13536, 3)
y_train :  (31581,)
y_test :  (13536,)

In [102]:
data.isnull().sum()

CI_Cat                 0
CI_Subcat              0
Incident_ID            0
Status                 0
Impact                 0
Urgency                0
Priority               0
number_cnt             0
Category               0
KB_number              0
No_of_Reassignments    0
dtype: int64

In [103]:
data.sort_values(by=['Impact'],axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last').head(5)

            CI_Cat                 CI_Subcat  ...  KB_number No_of_Reassignments
0      application     Web Based Application  ...  KM0000401                   5
11110  application  Server Based Application  ...  KM0000304                   0
11112     computer                    Laptop  ...  KM0001447                   0
11113     computer                    Laptop  ...  KM0001447                   0
11114     computer                    Laptop  ...  KM0001447                   0

[5 rows x 11 columns]

In [0]:
# model = DecisionTreeClassifier(max_depth=3,random_state=15)
# model.fit(X_train,y_train)

In [0]:
# #Visualizing
# dot_data = StringIO()
# export_graphviz(model, out_file=dot_data,  
#                 filled=True, 
#                 feature_names = X.Priority,
# #                 class_names=['setosa','versi color','virginca'],
#                 rounded=True,
#                 special_characters=True)
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
# Image(graph.create_png())

In [113]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred=model.predict(X_test)

In [115]:
accuracy_score(y_pred,y_test)

0.9999261229314421